* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #0f172a;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #38bdf8;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  color: #38bdf8;
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  padding: 12px 25px;
  background: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #0ea5e9;
}

section {
  padding: 60px;
  text-align: center;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.skill-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.project-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.project-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 15px;
}
